a {
  color: indigo;
  font-family: helvetica;
}
body {
  font-family: courier;
  background-color: black;
}
div {
  font-family: courier;
  margin-left: 3%;
}
h1 {
  color: red;
  font-family: arial;
  margin-left: 1%;
}
h2 {
  color: red;
  font-family: arial;
  margin-left: 2%;
}
h3 {
  color: red;
  font-family: arial;
  margin-left: 2%;
}
p {
  color: grey;
  font-family: courier;
}
.meanieDiv{
  margin-left: 5%;
}
